:root {
     font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
     line-height: 1.5;
     font-weight: 400;

     color-scheme: light dark;
     color: rgba(255, 255, 255, 0.87);

     font-synthesis: none;
     text-rendering: optimizeLegibility;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     -webkit-text-size-adjust: 100%;
}

a {
     padding: 0 1rem;
}

body {
     margin: 0;
     display: flex;
     place-items: center;
     min-width: 320px;
     min-height: 100vh;
     background-color: #242424;
}

.dark-mode-screen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    mix-blend-mode: difference;
}

.light-mode{
    background: goldenrod;
}

/* DARK MODE */
@media (prefers-color-scheme: dark){
    :root{
        --color-background: maroon;
        --color-text: goldenrod;
    }
    body.dark{
        background-color: var(--color-background);
        color: var(--color-text)
    }
}

#app-container {
     border: 1px solid red;
     margin: 1rem;
     padding: 1rem;
}

#main-section-container {
     border: 2px dotted goldenrod;
     margin: 1rem;
     padding: 1rem;
}

#images {
     width: 15dvw;
     border-radius: 10px;
}

#all-drinks-gallery {
     display: flex;
     flex-wrap: wrap;
     margin: 1rem;
     padding: 1rem;
     justify-content: space-evenly;
}

#home-container {
     border: 1px solid cyan;
     margin: 1rem;
     padding: 1rem;
}

#navbar-container {
     border: 1px solid rgb(26, 255, 0);
     margin: 1rem;
     padding: 1rem;
}

#drink-card {
     border: 1px solid violet;
     margin: 1rem;
     padding: 1rem;
}

#favorite-button {
     width: 8rem;
     height: auto;
     padding: 1rem;
     border-radius: 10px;
     font-size: 1rem;
}

#favorites-gallery{
    display: flex;
    flex-wrap: wrap;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    margin: 1rem;
    outline: none;
    color: #000000;
    background: #ffffff97;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #f95555
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff40;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}